@import url("./root.css");

body {
  background: var(--dark-background-color);
}

li,
a {
  color: var(--dark-color) !important;
}

.topmenu {
  background: var(--dark-background-menu) !important;
}

.submenu {
  background: var(--dark-background-submenu) !important;
}

.topmenu li:hover {
  background-color: var(--dark-hover);
}
.Theme-switch-list {
  background-color: var(--dark-color);
}

.Theme-switch-list:hover {
  background-color: var(--dark-hover);
}

.Language-switcher select {
  background-color: var(--dark-color);
  color: var(--dark-background-color);
}

.Menu-list {
  border-bottom: none;
}

.Main-news-text p {
  color: var(--black-color);
}

.Second-news-text {
  color: var(--black-color);
}

.Social-main-title {
  color: var(--black-color);
}

footer {
  background-color: var(--dark-background-menu) !important;
}

.News-list p {
  color: var(--black-color);
}

.News-list pre {
  color: var(--black-color);
}

.Main-news-list div p {
  color: var(--black-color);
}

.Main-news-list div pre {
  color: var(--black-color);
}

.Scroll-top {
  background-color: var(--white-color);
  color: var(--black-color);
}
