:root {
  --dark-background-color: #333333;
  --dark-background-menu: #333333;
  --dark-background-submenu: #242424;
  --dark-color: #dfdfdf;
  --dark-hover: #989898;
  --dark-submenu-hover: #a1a1a1;
  --dark-border: 2px solid #8b8b8b;
}
