.Content {
  margin-top: 30px;
}

.AllNews-Container {
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
}

.AllNews-Container li {
  margin-bottom: 20px;
}

.AllNews-Container li .Main-news {
  /* max-width: 520px; */
}

.AllNews-Container li .Second-news {
  max-width: 260px;
  height: 260px;
}

.Main-news {
  position: relative;
}

.Main-news-text {
  background-color: #e5e5e5b5;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  position: absolute;
  margin-top: -100px;
  max-height: 210px;
  border-radius: 20px;
  max-width: 96.3%;
}

.Main-news-text p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

.Main-news-text p:nth-child(2) {
  font-size: 15px;
  padding: 0 30px 0 20px;
}

.Main-news li img {
  width: 500px;
  height: 357px;
  border-radius: 20px;
}

.Main-news li {
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 20px;
  box-shadow: var(--shadow);
  height: 450px;
}

.Second-news {
  display: grid;
  grid-template-columns: 270px 270px;
}

.Second-news li {
  background-color: #e5e5e5;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 10px;
  position: relative;
  margin-right: 20px;
  height: 250px;
}

.Second-news li img {
  width: 230px;
  height: 130px;
  border-radius: 20px;
}

.Second-news-text {
  position: absolute;
  padding: 10px;
  margin-top: -50px;
  border-radius: 20px;
  background-color: #e5e5e5b5;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  max-width: 231px;
  max-height: 100px;
}

.Second-news-text p:first-child {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
}
.Second-news-text p:nth-child(2) {
  font-size: 15px;
}
