.Content {
  margin-top: 30px;
}

.AllNews-Container {
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
}

.AllNews-Container li {
  margin-bottom: 25px;
}

.AllNews-Container li ul {
  width: 520px;
}

.Main-news {
  position: relative;
}

.Main-news-text {
  background-color: #e5e5e5b5;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  position: absolute;
  margin-top: -100px;
  max-height: 210px;
  border-radius: 20px;
  max-width: 96.5%;
}

.Main-news-text p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

.Main-news-text p:nth-child(2) {
  font-size: 15px;
  padding: 0 30px 0 20px;
}

.Main-news li img {
  width: 500px;
  border-radius: 20px;
}

.Main-news li {
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 20px;
  box-shadow: var(--shadow);
  height: 450px;
}
