.Content {
  margin-top: 30px;
}

.AllNews-Container {
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
}

.AllNews-Container li {
  margin-bottom: 20px;
  max-width: 540px;
}

.Main-news {
  position: relative;
}

.Main-news-list,
.News-list {
  padding: 20px 100px;
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
}

.Main-news a li:hover,
.Second-news a li:hover {
  transform: scale(1.01);
}

.News-list {
  box-shadow: var(--shadow);
  /* background-color: var(--main-content-color); */
  background-color: var(--main-content-color);
  color: var(--black-color);
  padding: 20px;
  margin: 20px auto;
  max-width: 1570px;
  border-radius: 20px;
  position: relative;
}

.Main-news-list div:first-child p {
  font-weight: bold;
  padding: 10px 0px 0px 20px;
}

.News-list div:nth-child(2) p:last-child {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 20px 20px 0px;
}

.News-list div:nth-child(2) pre {
  padding: 0px 0px 40px 30px;
}

.News-list div:nth-child(2) p:first-child {
  font-weight: bold;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

.Main-news-list div:nth-child(2) {
  box-shadow: var(--shadow);
  background-color: var(--main-content-color);

  padding: 20px;
  margin: 0 20px 20px 20px;
  border-radius: 20px;
}

.Main-news-list p:first-child {
  font-weight: bold;
  padding: 0px 0px 30px 0px;
  text-align: center;
}

.Main-news-list pre {
  padding: 0px 0px 30px 30px;
}

.Main-news-list img {
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.News-list img {
  border-radius: 20px;
  height: 300px;
}

.Main-news-text {
  background-color: #e5e5e5b5;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  position: absolute;
  margin-top: -80px;
  max-height: 210px;
  border-radius: 20px;
  max-width: 96.3%;
}

.Main-news-text p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

.Main-news-text p:nth-child(2) {
  font-size: 15px;
  padding: 0 30px 0 20px;
}

.Main-news li img {
  width: 520px;
  height: 310px;
  border-radius: 20px;
}

.Main-news li {
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 20px;
  box-shadow: var(--shadow);
  height: 450px;
}

.Second-news {
  margin-top: 20px;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 270px 270px;
  grid-template-columns: 270px 270px;
}

.Second-news li {
  background-color: #e5e5e5;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 10px;
  position: relative;
  margin: 10px;
  height: 250px;
}

.Second-news li img {
  width: 230px;
  height: 130px;
  border-radius: 20px;
}

.Second-news-text {
  position: absolute;
  padding: 10px;
  margin-top: -50px;
  border-radius: 20px;
  background-color: #e5e5e5;
  max-width: 231px;
  max-height: 100px;
}

.Second-news-text p:first-child {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
}

.Second-news-text p:nth-child(2) {
  font-size: 15px;
}

.Alerts {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 270px 270px;
  -ms-grid-columns: 270px 270px;
  background-color: #e5e5e5;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.Alerts li {
  margin: 10px;
  margin-bottom: 2px;
}

.Alerts li:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 2;
}

.Alerts li:nth-child(3) a img,
.Alerts li:nth-child(8) a img,
.Academy-magazine li a img {
  width: 520px;
}

.Alerts li:nth-child(8) {
  grid-column: 1 / -1;
}

.Alerts li a img {
  border-radius: 20px !important;
  width: 250px;
  height: 100px;
}

.Additional-content {
  /* position: sticky; */
  position: -webkit-sticky;
  /* top: 75px; */
}

.Academy-magazine {
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  position: relative;
}

.Academy-magazine li a img {
  border-radius: var(--border-radius);
}

.Social-main-title {
  position: absolute;
  margin-top: -30px;
  width: 96.3%;
  background-color: #e5e5e5b5;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  border-radius: var(--border-radius);
}

.Social-main-title p {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0px 30px 20px;
  font-size: 18px;
}

.Social-links {
  background-color: #e5e5e5;
  padding: 25px 20px 0px 15px;
  margin-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  justify-content: space-evenly;
  display: flex;
}

.Social-links li a {
  padding: 22px 10px 1px;
  border-radius: var(--border-radius-2);
}

.Social-links li a:hover {
  background-color: var(--hover-3);
}

.Social-links li a img {
  width: 35px;
}

@media only screen and (max-width: 1680px) {
  .AllNews-Container {
    justify-content: center;
  }
  .Content-title {
    display: none;
  }
  .Main-news li img {
    width: 500px;
  }
  .Content {
    width: 520px;
    margin: 0 auto;
  }
  .AllNews-Container {
    display: block;
  }
  .Second-news {
    -ms-grid-columns: 260px 260px;
    grid-template-columns: 260px 260px;
  }
  .Second-news li img {
    width: 220px;
    height: 130px;
  }
  .Alerts {
    -ms-grid-columns: 250px 250px;
    grid-template-columns: 250px 250px;
    /* padding: 10px; */
    margin: 10px;
  }
  .Alerts li a img {
    width: 230px;
  }
  .Alerts li:nth-child(3) a img,
  .Alerts li:nth-child(8) a img,
  .Academy-magazine li a img {
    width: 480px;
  }
  .Academy-magazine {
    margin: 10px;
  }
  .Social-links {
    margin: 10px;
  }
  .Main-news-list,
  .News-list {
    padding-right: 0px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 878px) {
  .Main-news-list div:first-child img {
    box-shadow: none;
    padding: 10px;
  }
}

@media only screen and (max-width: 1450px) {
  .Main-news-list div:first-child p {
    margin-bottom: 20px;
  }
  .Main-news-list {
    display: block;
  }
  .Main-news-list div:first-child img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .Main-news-list,
  .News-list {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 476px) {
  .Logo-title {
    display: none;
  }
}

@media only screen and (max-width: 1475px) {
  nav {
    overflow-x: auto;
    overflow-y: hidden;
  }
  nav ul {
    justify-content: start !important;
  }
}

@media only screen and (max-width: 426px) {
  footer {
    padding-right: 0px !important;
  }
  .Numbers a {
    white-space: nowrap !important;
    font-size: 17px !important;
  }
  .News-list {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    margin-bottom: 80px;
    padding: 10px;
  }
  .News-list div:first-child img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .News-list div:nth-child(2) p {
    margin-top: 20px;
  }
  .Content {
    width: 400px;
    padding-bottom: 60px;
  }
  .AllNews-Container li {
    width: 100%;
  }
  .Main-news li a img {
    width: 380px;
    height: 200px;
  }
  .Second-news {
    margin: 0 auto;
    grid-template-columns: 200px 200px;
  }
  .Second-news li {
    width: 180px;
  }
  .Second-news li a img {
    width: 160px;
  }
  .Second-news-text {
    max-width: 160px !important;
  }
  .Second-news-text p:first-child {
    font-size: 14px;
  }
  .Second-news-text p:nth-child(2) {
    font-size: 13px;
  }
  .Alerts {
    grid-template-columns: 190px 190px;
    -ms-grid-columns: 190px 190px;
  }
  .Alerts li a img {
    width: 170px;
    height: 75px;
  }

  .Alerts li:nth-child(3) a img,
  .Alerts li:nth-child(8) a img,
  .Academy-magazine li a img {
    width: 360px;
  }

  .Academy-magazine {
    height: 120px;
  }

  .Social-main-title {
    height: 50px;
  }

  .Academy-magazine li a img,
  .Social-main-title {
    width: 360px;
  }

  .Social-main-title p {
    font-size: 15px;
  }
  .Main-news-list div:nth-child(2) pre {
    padding-left: 0;
  }
}

@media only screen and (max-width: 376px) {
  .Content {
    width: 350px;
    padding-bottom: 60px;
  }
  .Numbers a {
    white-space: nowrap !important;
    font-size: 15px !important;
  }
  .Main-news li a img {
    max-width: 100%;
  }
  .Main-news-text {
    max-width: 330px;
  }
  .Second-news {
    grid-template-columns: 170px 170px;
  }
  .Second-news li {
    width: 150px;
  }
  .Second-news li a img {
    max-width: 100%;
  }
  .Second-news-text p:nth-child(2) {
    font-size: 11px;
  }
  .Alerts li a img {
    width: 140px;
  }
  .Alerts {
    grid-template-columns: 170px 170px;
  }
  .Alerts li:nth-child(3) a img,
  .Alerts li:nth-child(8) a img,
  .Academy-magazine li a img {
    width: 310px;
  }
  .Social-main-title {
    width: 310px;
  }
}

@media only screen and (max-width: 320px) {
  .Content {
    width: 300px;
  }
  .Main-news-text p:first-child {
    font-size: 15px;
  }
  .Main-news-text p:nth-child(2) {
    font-size: 13.5px;
  }
  .Main-news-text {
    width: 280px;
  }
  .Main-news li a img {
    max-height: 100%;
  }
}
