footer {
  background: var(--main-content-color);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadow);
  height: 68px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 15px 0 0;
}

footer ul {
  justify-content: center;
  vertical-align: middle;
  display: flex;
}

footer ul li {
  padding: 0 10px;
  text-align: center;
}

footer ul li a {
  text-align: center;
}

footer ul li:first-child {
  padding-left: 0;
}

footer ul li:last-child {
  padding-right: 0px;
}

.Footer-imgs {
  margin: 0 auto;
  vertical-align: middle;
}

.Numbers {
  display: block;
}

.Numbers a {
  font-size: 19px;
  display: block;
  /* border-bottom: 1px solid var(--black-color); */
}
