footer {
  background: var(--main-content-color);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadow);
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 13px 20px;
}

footer ul {
  justify-content: center;
  vertical-align: middle;
  display: flex;
}

footer ul li {
  padding-right: 20px;
  text-align: center;
}

footer ul li:last-child {
  padding-right: 0px;
}

.Footer-imgs {
  vertical-align: middle;
}

.Numbers {
  display: block;
}

.Numbers a {
  display: block;
}
