.Title ul {
  display: flex;
  min-width: max-content;
}

.Logo {
  width: 87px;
  margin-top: 4px;
}

.Logo-title {
  margin-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 6px;
  width: 320px;
}

.Language-list,
.Theme-switch-list {
  align-items: center;
  border-radius: 50%;
  padding: 2px 3px 0px;
  margin: 3px;
  cursor: pointer;
}

.Language-list {
  padding-top: 4px;
}

.Language-switcher {
  align-items: center;
}

.Language-switcher select {
  padding: 9.5px;
  border: 1px solid var(--black-color);
  background-color: var(--black-color);
  color: var(--white-color);
  margin: 6.5px;
  border-radius: 5px;
}

.Language-list:hover,
.Theme-switch-list:hover {
  background-color: var(--complementary-color);
}

.Eye-btn,
.Search-btn {
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 19px;
  font-weight: 400;
  background-color: var(--transparent);
  cursor: pointer;
}

.Theme-switcher {
  padding-right: 35px;
}

.Switch-icon {
  display: "flex";
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding-right: 2px;
  padding-top: 3px;
}

.Right-menu {
  display: block;
  margin: auto 0;
}

.Right-menu ul {
  display: flex;
}

.Sun-Switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding-bottom: 3px;
}
