@import url("./Content.css");

.Main-headlines {
  text-transform: uppercase;
  /* font-size: 20px 0 20px 20px; */
  font-size: 20px;
  text-align: center;
}

.Main-content-list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.Main-content-list li {
  padding-top: 10px;
  width: 140px;
  text-align: center;
}
