.Menu-list {
  justify-content: space-between;
  display: flex;
  padding: 30px 40px 20px;
  margin-bottom: 0;
  color: var(--black-color);
  border-bottom: var(--border);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--main-background-gradient);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: var(--blur);
  box-shadow: var(--shadow);
}

nav ul {
  list-style: none;
  justify-content: center;
  display: flex;
}

nav ul:after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  text-decoration: none;
  display: block;
}

.topmenu {
  /* margin-bottom: -10px; */
  height: 57px;
}

.topmenu li a {
  padding: 20px;
  font-size: 15px;
  color: var(--black-color);
  text-transform: uppercase;
  font-weight: bold;
  flex-wrap: nowrap;
}

.topmenu li:hover {
  background-color: var(--topmenu-li-hover);
}

.Language-switcher:hover {
  background-color: #00000000 !important;
}

.submenu {
  display: block;
  position: absolute;
  z-index: 5;
  background: var(--white-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: 0px;
  visibility: hidden;
  opacity: 0;
  /* margin-top: 9px; */
}

.submenu li {
  position: relative;
}

.submenu li a {
  color: var(--black-color);
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
}

.submenu li:hover {
  background-color: var(--topmenu-li-hover);
}

.submenu li:last-child {
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}

nav li:hover > .submenu {
  visibility: visible;
  opacity: 1;
}

.searchBtn {
  display: none;
}
